extends ../layout

block content
    div
        div.row
            div.col-sm-3
                h3
                    a(href="/media/recent") Recently Uploaded
            div.col-sm-3
                h3
                    a(href="/media/recentComments") Recent Comments
            div.col-sm-3
                h3
                    a(href="/media/recentViews") Recent Views
            div.col-sm-3
                h3
                    a(href="/media/recentReacts") Recent Reacts

        hr

        div.center-block.text-center.col-sm-12
            h1 Recent Reacts
            // TOP PAGINATION
            nav.center-block.text-center(aria-label='Page navigation example')
                ul.pagination
                    li.page-item
                        a.page-link(href=`/media/recentReacts/${previousNumber}`) <

                    each number in numbersArray
                        li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                            a.page-link(href=`/media/recentReacts/${number}`) #{number}

                    li.page-item
                        a.page-link(href=`/media/recentReacts/${nextNumber}`) >






            br

            each document in reacts
                if document.upload.uploader
                    div.col-sm-4(style="text-align:center;height:380px")
                        // NEW CHANNEL UPLOAD FORMAT

                        a.title-anchor(href=`/user/${document.upload.uploader.channelUrl}/${document.upload.uniqueTag}`)
                            // TODO: Sub out thumbnail here

                            include ../viewPartials/recentActionThumbnail

                        p(style="font-size:16px") by &nbsp
                            a.upload-user-text(href=`/user/${document.upload.uploader.channelUrl}`) #{document.upload.uploader.channelName}

                        div.upload-details
                            p A user reacted with a #{document.react} react #{document.timeAgo}


            if reacts
                if reacts.length > 0
                    nav.center-block.text-center(aria-label='Page navigation example')
                        ul.pagination
                            li.page-item
                                a.page-link(href=`/media/recentReacts/${previousNumber}`) <

                            each number in numbersArray
                                li.page-item(class=(number == highlightedNumber) ? 'active' : undefined)
                                    a.page-link(href=`/media/recentReacts/${number}`) #{number}

                            li.page-item
                                a.page-link(href=`/media/recentReacts/${nextNumber}`) >

    script.
      $(document).on({
        mouseenter: function () {
          var width = $(this).width()
          var height = $(this).height()


          $(this).css("width", width * 1.10);
          $(this).css("height", height * 1.10);

        },
        mouseleave: function () {
          var width = $(this).width()
          var height = $(this).height()

          $(this).css("width", width / 1.10);
          $(this).css("height", height / 1.10);
        }
      }, '.preview-image');